.full-booking-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
    border: #1890ff 2px solid;
    border-radius: 5px;
}

.full-booking {
    display: flex;
    flex-direction: row;
}

.full-booking-image {
    width: 325px;
    height: 325px;
}

.full-booking-main-info {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    padding: 0 20px;
}

.full-booking-product-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.full-booking-item-header {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.full-booking-main-info-split-line {
    border: #1890ff 1px solid;
    border-radius: 5px;
    width: 95%;
    margin: 20px auto;
}

.full-booking-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
